<p id="notice"><%= notice %></p>
<div class='row'>
  <div class='col-sm-8 col-sm-offset-4'>
    <% @articles.each do |article| %>
      <article>
        <h2><%= link_to article.title, article %></h2>
        <%= article.content %>
      </article>
    <% end %>
  </div>
</div>
